//Profile config names for nf-core/configs
params{
    config_profile_description = 'University of Lausanne cluster profile for curnagl provided by nf-core/configs'
    config_profile_contact = 'Samuel Neuenschwander'
    config_profile_url = 'www.unil.ch'
}

process {
    executor = 'slurm'
    queue = 'cpu'
    clusterOptions = { "-A mibberso_unige_herrera" }
}

params {
    max_memory = 1800.GB
    max_cpus = 112
    max_time = 168.h
}

executor {
	queueSize = 30
}

singularity {
	enabled = true
	autoMounts = true
}
