//Profile config names for nf-core/configs
params{
    config_profile_description = 'University of Lausanne cluster profile for curnagl provided by nf-core/configs'
    config_profile_contact = 'Samuel Neuenschwander)'
    config_profile_url = ''
}

singularity {
    enabled = true
}

process {
    executor = 'slurm'
    queue = 'cpu'
}

params {
    max_memory = 1800.GB
    max_cpus = 112
    max_time = 168.h
}
